/* LXGW WenKai */
@import url("https://fontsapi.zeoseven.com/292/main/result.css");

@font-face {
    font-family: 'Fira Code';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/FiraCode-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Fira Code';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url('/fonts/FiraCode-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'LXGW Neo XiHei';
    font-style: normal;
    src: url('/fonts/LXGWNeoXiHei.ttf'); 
}
